<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <h1>SISTEMA VUELOS</h1>
    </div>
    <div id="menu">
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Vuelos", "Index", "Vuelo")

    </div>

    <div id="sidebar">
        @if (IsSectionDefined("SideBar"))
        {
            @RenderSection("SideBar")
        }
        else
        {
            <h2>Zona editable opcional</h2>
        }
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <p>info@vuelo.com</p>
    </div>
</body>
</html>
