@model SistemaWebVuelos.Models.Vuelo
@{
    ViewBag.Title = "Create";
}

<div>
    @using (Html.BeginForm("Create", "Vuelo", FormMethod.Post))
    {
        @*<div>
            @Html.LabelFor(model => model.Id)
            @Html.EditorFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id)
        </div>*@
        <div>
            @Html.LabelFor(model => model.Fecha)
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>
        <div>
            @Html.LabelFor(model => model.Destino)
            @Html.EditorFor(model => model.Destino)
            @Html.ValidationMessageFor(model => model.Destino)
        </div>
        <div>
            @Html.LabelFor(model => model.Origen)
            @Html.EditorFor(model => model.Origen)
            @Html.ValidationMessageFor(model => model.Origen)
        </div>
        <div>
            @Html.LabelFor(model => model.Matricula)
            @Html.EditorFor(model => model.Matricula)
            @Html.ValidationMessageFor(model => model.Matricula)
        </div>
        <p>
            <input type="submit" value="Guardar" />
        </p>
        <p>
            @Html.ActionLink("Volver al index", "Index", "Vuelo")
        </p>
    }
    
</div>
