@model SistemaWebVuelos.Models.Vuelo
@{
    ViewBag.Title = "Delete";
}


<div>
    <h2>Opera Delete</h2>
    <p>Are you sure you want to delete this Opera?</p>

    @using (Html.BeginForm("Delete", "Vuelo", FormMethod.Post))
    {
        <fieldset>
            <legend>Product Detail</legend>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Id)
            </div>
            <div class="display-text">
                @Html.DisplayFor(model => model.Fecha)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Destino)
            </div>
            <div class="display-text">
                @Html.DisplayFor(model => model.Origen)
            </div>
        </fieldset>
        <p>
            <input type="submit" value="Delete" />
        </p>
    }
    <p>
        @Html.ActionLink("Volver al index", "Index", "Vuelo")
    </p>
</div>

