@model SistemaWebVuelos.Models.Vuelo
@{
    ViewBag.Title = "Index";
}

<div>
    <fieldset>
        <legend>Detalle del Vuelo</legend>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Id)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.Id)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Fecha)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.Fecha)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Destino)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.Destino)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Origen)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.Origen)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Matricula)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.Matricula)
        </div>

        <p>
            @Html.ActionLink("Volver al index", "Index", "Vuelo")
        </p>
    </fieldset>

</div>
